# Node build artifacts
node_modules
npm-debug.log
react-ui/src/react-app-env.d.ts

# Local development
*.env
*.dev
.DS_Store
.vscode/
.idea/
react-ui/package-lock.json
package-lock.json
server/config

# Docker
Dockerfile
docker-compose.yml
