# Node build artifacts
node_modules
npm-debug.log
react-ui/src/react-app-env.d.ts

# Local development
*.env
*.dev
.DS_Store
package-lock.json
.idea/
react-ui/package-lock.json

# Docker
Dockerfile
docker-compose.yml
