# Node build artifacts
node_modules
npm-debug.log
react-ui/src/react-app-env.d.ts

# Local development
*.env
*.dev
.DS_Store
.vscode/
.idea/
server/config
server/ts/config/
coverage/

# Docker
Dockerfile
docker-compose.yml
package-lock.json
react-ui/package-lock.json
